<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--<h1><%= title %></h1>
    <p>Welcome to FIWARE <%= title %></p>-->
    <div style="width:95%;">
		<canvas id="canvas"></canvas>
	</div>
  </body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script type="text/javascript" src="/js/utils.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
</html>
